/***************************************************************************************************************

Below is the scss code compiled to css code. Less code but not as efficent as the
scss code on the mixins.scss file.


********************************************************************************************************************/


.msg {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #888;
    font-size: 1rem;
    color: white;
    padding: 1rem 1.25rem;
    margin: 1em 0;
    display: inline-block;
    cursor: pointer;
  }
  
  .msg h1 {
    margin: 0 0 0.2em 0;
  }
  